.entireContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin: 3.5%;

    @media screen and (max-width:500px) {
            display: flex;
            margin: 0 auto; 
            margin: 3.5%;  
    }

  
      #volume-icon {
       font-size: 1.5rem; 
       display: initial;
       margin-top: 0;
      margin-bottom: 0;
    }
    


.aboutContainer {
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    
  }

  .aboutHeading {
    font-family: 'Love Ya Like A Sister', cursive;
    color: #B3A190;
    font-size: 2rem;
    
  }

  .mobile-aboutHeading {
    @media screen and (max-width: 500px) {
      margin-top: 0;
    }
    @media screen and (max-width: 800px) {
     margin-top: 15%;
   }
  }


  .bioContainer {
    width: 100%;
    padding-left: 2%;
    font-size: 1.25rem;

    @media screen and (max-width:500px) {
      display: grid;
      justify-items: center;
    }

    @media screen and (max-width:800px) {
      display: grid;
      justify-items: center;
    }

  }

  .bio {
    text-align: center;
    width: 100%;
    font-size: 1.30rem;
    margin-top: 6%;
 

    @media screen and (max-width:500px) {
      text-align: center;
      max-width: 500px;
      margin: 0 auto;
      font-size: 1.30rem;
      line-height: 1.4;
      letter-spacing: 1.2px;
   }

   @media screen and (max-width:800px) {
    text-align: center;
    padding: 2%;
    width: 500px;
    margin: 0 auto;
    font-size: 1.30rem;
  }
}


  .MuiGrid-grid-xs-6 {

    @media screen and (max-width:500px) {
      max-width: 100%;
   }

  }
  



.makeStyles-bigAvatar-4 {
    @media screen and (max-width:500px) {
        width: 0px;
        height: 0px;
        margin: 0%;
        border-radius: 0%;
        display: none;
      }

      @media screen and (max-width:800px) {
        width: 0px;
        height: 0px;
        margin: 0%;
        border-radius: 0%;
        display: none;
     }
}



.makeStyles-bioContainer-5 {

    @media screen and (max-width:500px) {
        width: 100%;
      }
      @media screen and (max-width:800px) {
        width: 100%
     }
}



.makeStyles-bio-6 {
    @media screen and (max-width:800px) {
       font-size: 1rem;
    }
}

}

.skills-icons {
  margin: 1%;
  max-width: 400px;
  
  img {
    width: 60px;
  }
}