
.MuiAvatar-img {
    @media screen and (max-width:800px) {
       margin-left: 35%;
    }
}



.makeStyles-bioContainer-5 {
    @media screen and (max-width:800px) {
        width: 50%;
        height: 400px;
    }
}

.makeStyles-bio-6 {
    @media screen and (max-width:800px) {
       font-size: 1rem;
    }
}


