html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Shadows Into Light', cursive;
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    background-color: #f0f0f0;
    scroll-behavior: smooth;
  }