.contact-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    // border: 2px solid gray;
}


.contact-header {
    // border: 5px solid teal;
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #B3A190;
    font-size: 2rem;
}

.contact-subheader {
    // border: 5px solid teal;
    text-align: center;
    color: #E63629;
}

.form {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    width: 55%; 
    opacity: 0.9;
    transition: 0.3s;
    border-radius: 15px;
    padding: 2.5%;
    border: 2px solid #B3A190;
    // box-shadow: 30px 30px 30px 30px lightgray; 
   


    @media screen and (max-width:800px) {
        // margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        flex-wrap: wrap;
        width: 80%; 
        opacity: 0.9;
        transition: 0.3s;
        border-radius: 10px;
        padding: 2.5%;
        // border: 2px solid red;

    }
        @media screen and (max-width: 500px) {
            // margin: 0 auto;
            // margin-top: 5%;
            // margin-bottom: 5%;
            flex-wrap: wrap;
            width: 80%; 
            opacity: 0.9;
            transition: 0.3s;
            border-radius: 10px;
            padding: 2.5%;
            // border: 2px solid purple;
         }
       }

    //    .MuiButtonBase-root:hover {
    //        background-color: #EBB604;
    //    }
    
.MuiTypography-h6 {
font-family:  'Love Ya Like A Sister', cursive !important;
color: #B3A190;
text-transform: uppercase;
}

