

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 400px;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    max-width: 1000px;
    margin: 0 auto;
    transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);

}

.contact-info {
    margin: 1% 0;
    padding: 1.5%;
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #B3A190;
    font-size: 1.2rem;
    border-radius: 15px;
    text-align: left;
}

.contact-header {
    // border: 5px solid teal;
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #B3A190;
    font-size: 2rem;
}

.contact-subheader {
    // border: 5px solid teal;
    text-align: center;
    color: #E63629;
}

.form {
    // margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    max-width: 55%; 
    opacity: 0.9;
    transition: 0.3s;
    border-radius: 15px;
    padding: 2.5%;
   


    @media screen and (max-width:800px) {
        margin-top: 5%;
        margin-bottom: 5%;
        flex-wrap: wrap;
        width: 80%; 
        opacity: 0.9;
        transition: 0.3s;
        border-radius: 10px;
        padding: 2.5%;
        // border: 2px solid red;

    }
        @media screen and (max-width: 500px) {
            flex-wrap: wrap;
            width: 80%; 
            opacity: 0.9;
            transition: 0.3s;
            border-radius: 10px;
            padding: 2.5%;
            // border: 2px solid purple;
         }
       }


.MuiTypography-h6 {
font-family:  'Love Ya Like A Sister', cursive !important;
color: #B3A190;
text-transform: uppercase;
}

