.footer-container {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    justify-content: center;
    background-color: #FFFFFF;
    border-top: 5px dotted #EBB604;
    padding: 1%;
}

#github-icon {
    color: #211f1f;
}

 #github-icon:hover {
    text-decoration: underline;
 }

#linkedin-icon{
    color: #0077B5;
}

#linkedin-icon:hover {
    text-decoration: underline;
 }


 #twitter-icon {
    color: #1DA1F2;
}

#twitter-icon:hover {
    text-decoration: underline;
 }