.footer-container {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    justify-content: center;
    background-color: #FFFFFF;
    // border-top: 5px dotted #EBB604;
    padding: .5%;
}

#github-icon {
    color: #E63629;
    border: none;
}

 #github-icon:hover {
    opacity: 0.9;
 }

#linkedin-icon{
    color: #EBB604;
    border: none;
}

#linkedin-icon:hover {
    opacity: 0.9;
 }


 #twitter-icon {
    color: #008080;
    border: none;
}

#twitter-icon:hover {
    opacity: 0.9;
 }