
.design-background {
    background: white;
    height: 100vh;

    @media screen and (max-width: 500px) {
      display: none;
   }
   @media screen and (max-width: 800px) {
    display: none;
  }
}
  
  .welcome-div {
    position: relative;

  }
  
  .introduction {
    position: absolute;
    display: flex;
    flex-direction: row;
    // border: 3px solid orange;
    top: 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;



    @media screen and (max-width: 500px) {
        display: none;
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  


  .intro-header {
    font-size: 2.2rem;
    color: #B3A190;
    font-family: 'Love Ya Like A Sister', cursive;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
  

    @media screen and (max-width: 500px) {
      font-family: 'Love Ya Like A Sister', cursive;
      font-size: 1.3rem;

    }

    @media screen and (max-width: 800px) {
      font-size: 1.75rem;
   }
  }

  #volume-icon {
    color: #B3A190;

    @media screen and (max-width: 500px) {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
   }
   @media screen and (max-width: 800px) {
    display: flex;
    justify-content: center;
    margin-top: 1%;
   }

  }

  #volume-icon:hover {
    color:#008080;
    cursor: pointer;
  }

#arrow-icon {
  color: #B3A190;
}

#arrow-icon:hover {
  color: #008080;
  transition: 0.15s;
  transform: translate(-10px, 0px);
  transform: rotate(90deg)
}



