body {
    margin: 0;
    font-family:'Shadows Into Light'
      sans-serif;
      scroll-behavior: smooth;
      overflow-x: hidden;

      @media screen and (max-width: 500px) {
        overflow-x: hidden;
      }
      @media screen and (max-width: 800px) {
        overflow-x: hidden;
     }
  }
  
