.nav-wrapper {
    // border: 3px solid green;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    background:#FFFFFF;
    overflow:hidden;
    z-index: 1;
    // border-bottom: 5px dotted #EBB604;

   
    @media screen and (max-width: 500px) {
        top: 0;
        position: fixed;
        justify-content: flex-end;
    }
    @media screen and (max-width: 800px) {
        width: 100%;
        display: flex;
        position: sticky;
        top: 0;
        background:#FFFFFF;
        overflow:hidden;
        z-index: 1;
        justify-content: flex-end;
      }
}
/* 
zindex fixed overlapping nav */
.nav-wrapper a {
    margin: .5% 3% 0% 3%;
    font-size: 1.5rem;
    text-decoration: none;
    color: #B3A190;
    position: sticky;
    text-transform: uppercase;
    font-family: 'Love Ya Like A Sister', cursive;
    padding: .5%;

    @media screen and (max-width: 500px) {
        // border: 1px solid #B3A190;
        align-items: center; 
        color: #B3A190;
    }
    @media screen and (max-width: 800px) {
        margin: 0% 3% 0% 3%;
        font-size: 1.5rem;
        text-decoration: none;
        color: #B3A190;
        position: sticky;
        text-transform: uppercase;
        font-family: 'Love Ya Like A Sister', cursive;
        padding: .5%;
      }
}

.nav-wrapper a:hover{
    color: #E63629;
}

svg#ham-icon {
    height: 50px; 
    width: auto;
}

svg#x-icon {
    height: 100px;
    z-index: 1;
}

    .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
        position: unset;
        max-width: 100%;
        box-shadow: none;
        // maxheight style causing err pop uo err to display
        max-height: fit-content;

    }



.MuiList-root {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100px;
    // height: 150px;
    max-height: 100vh;
    height: 100vh;
    margin: 0;
    // padding: 5%;
    font-size: 1.25rem;
    text-transform: uppercase;
    line-height: 1.8;
    color: #B3A190;

    @media screen and (max-width: 800px) {
        font-size: 2rem;
    }
}

.MuiList-root a:hover {
    color: #E63629;
}
.MuiList-root a:active {
    text-decoration-color: #E63629; 
}


ul.MuiList-root.MuiMenu-list.MuiList-padding {
    padding-top: 0;
    padding-bottom: 0;
}