.nav-wrapper {
    border: 3px solid green;
    display: flex;
    position: sticky;
    top: 0;
    background: rgb(17, 28, 32);
    overflow:hidden;
    z-index: 1; 

    @media screen and (max-width: 500px) {
        border: 1px solid blueviolet;
        display: flex;
        position: relative;
        flex-direction: column;
    }
}
/* 
zindex fixed overlapping nav */

nav ul a {
    margin: 0% 3% 0% 3%;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    position: sticky;
    text-transform: uppercase;

    @media screen and (max-width: 500px) {
        flex-direction: column;
        margin: 0% 3% 0% 3%;
        font-size: 1rem;
        position: relative;
        flex-wrap: wrap;
        

    }

}

nav ul a:hover,
nav ul a.active {
    color: rgb(221, 30, 141);
}
