//media queries
$mobile: 'only screen and (max-width:500px)';
$tablet: 'only screen and (max-width:1200px)';
$tablet-small: 'only screen and (max-width:800px)';
$tablet-short: 'only screen and (max-height:550px)';
$desktop: 'only screen and (min-width:1200px)';