.about-header {
    margin-top: 5%;
    display: flex;
    border: 5px solid purple;
    justify-content: center;
}

/* .header {
    justify-content: center;
    border: 2px solid blue;
    height: 30px;
} */


.avatar-container {
    border: 2px dashed green;
}

.avatar-img {
    margin: 10%;
}
