.nav-wrapper {
    border: 3px solid green;
    display: flex;
    position: sticky;
    top: 0;
    background: rgb(17, 28, 32);
    overflow:hidden;
    z-index: 1; 
}
/* 
zindex fixed overlapping nav */

nav ul a {
    margin: 0% 3% 0% 3%;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    position: sticky;
    text-transform: uppercase;

}

nav ul a:hover,
nav ul a.active {
    color: rgb(221, 30, 141);
}
