.nav-container {
    border: 1px solid blue;
    display: flex;
    position: sticky;
}

.text {
    margin: 2%;
}

.text:hover {
    text-decoration: underline;
    text-decoration-color: purple;
    color: plum;
}