/* .wrapper {
    border: 1px solid blue;
    overflow: hidden;
}

.text {
    margin: 2%;
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
}

.text:hover {
    text-decoration: underline;
    text-decoration-color: purple;
    color: plum;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */